.RData
.Rhistory
.Rproj.user
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.knit.md
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.tex
*.toc
*.synctex(busy)
pragmastat_cache/

!tex/*.tex
img
pragmastat.Rmd
references.bib
