{{- $date := "" -}}
{{- if .Date -}}
  {{- $date = .Date.Format "2006-01-02" -}}
{{- else if .Params.Year -}}
  {{- $date = .Params.Year -}}
{{- else if .Params.Years -}}
  {{- if strings.HasSuffix .Params.Years "-" -}}
    {{- $currentYear := now.Format "2006" -}}
    {{- $date = printf "%s–%s" (strings.TrimSuffix "-" .Params.Years) $currentYear -}}
  {{- else -}}
    {{- $date = .Params.Years -}}
  {{- end -}}
{{- end -}}
{{- if $date -}}
  {{ if .Params.Date2 }}
    {{- $date = $date | printf "%s..%s" $date (.Params.Date2 | dateFormat "2006-01-02") -}}
  {{ end -}}
  {{ $date }}
{{- end -}}