{{ partial "js-embed" "init-theme" }}

{{ partial "js-embed" "init-mathjax" }}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

{{ partial "js-embed" "init-autonumbering" }}

<footer
  class="z-20 py-2 mt-6 w-full flex items-center justify-center">
  <span class="text-front-dim-l dark:text-front-dim-d text-center mr-3">© 2025 <span class="whitespace-nowrap">Andrey Akinshin</span></span>
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
</footer>