<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content='Andrey Akinshin'>
  <meta name="description" content="{{ .Params.Description }}">

  <meta name="twitter:site" content="@andrey_akinshin" />
  <meta name="twitter:creator" content="@andrey_akinshin" />
  {{ if .Params.thumbnail }}
    {{ $filename := .Params.thumbnail }}
    {{ $thumbnail := $.Page.Resources.GetMatch (printf "img/%s*" $filename) }}
    <meta name="og:image" content="{{ $thumbnail.RelPermalink }}">
  {{ end }}

  <link href="/img/favicon.ico" rel="icon" type="image/x-icon"/>

  {{ if .Title }}
    <title>{{ print .Title }}</title>
  {{ else }}
    <title></title>
  {{ end }}

  {{ partial "js-embed" "init-theme-head" }}
  {{ partial "css" "styles" }}
</head>