{{ $page := . }}

<div>

  <div class="my-2 text-center">
    <!-- Authors -->
    {{ with (.GetTerms "authors") }}
      {{ $length := len . -}}
      {{ range $index, $element := . }}
        {{ $href := $element.RelPermalink }}
        <a href="{{ $href }}">{{ $element.Title }}</a>{{ if lt $index (sub $length 1) }}, {{ end }}
      {{ end }}
    {{ end }}
    <!-- Date -->
    {{ $date := printf "%s" (partial "date" $page) }}
    {{ if $date -}}
      <span class="mr-2 text-front-dim-l dark:text-front-dim-d">
        {{- if (.GetTerms "authors") }} · {{ end -}}
        {{ $date -}}
      </span>
    {{- end }}
  </div>

  <!-- Links -->
  <div class="my-2 text-center">
    {{ $isFirst := true}}
    {{ if .Params.Pdf }}
    {{ if $isFirst }}{{ $isFirst = false }}{{else}} · {{ end }}
      <a href="{{ .Params.Pdf }}">PDF</a>
    {{ end }}
    {{ if .Params.Doi }}
      {{ if or (not .Params.Arxiv) (not (strings.HasSuffix .Params.Doi .Params.Arxiv)) }}
      {{ if $isFirst }}{{ $isFirst = false }}{{else}} · {{ end }}
        <a href="https://dx.doi.org/{{ .Params.Doi }}">DOI: {{ .Params.Doi }}</a>
      {{ end}}
    {{ end }}
    {{ if .Params.Arxiv }}
      {{ if $isFirst }}{{ $isFirst = false }}{{else}} · {{ end }}
      <a href="https://arxiv.org/abs/{{ .Params.Arxiv }}">arXiv:{{ .Params.Arxiv }}</a>
    {{ end }}
    {{ if .Params.GitHub }}
      {{ if $isFirst }}{{ $isFirst = false }}{{else}} · {{ end }}
      <a href="https://github.com/{{ .Params.GitHub }}">github.com/{{ .Params.GitHub }}</a>
    {{ end }}
    {{ if .Params.youtube }}
      {{ if $isFirst }}{{ $isFirst = false }}{{else}} · {{ end }}
      <a href="https://www.youtube.com/watch?v={{ .Params.youtube }}">YouTube</a>
    {{ end }}
    {{ if .Params.WebUrl }}
      {{ if $isFirst }}{{ $isFirst = false }}{{else}} · {{ end }}
      <a href="{{ .Params.WebUrl }}">{{ .Params.WebUrl }}</a>
    {{ end }}
    {{ if .Params.GoodReads }}
    {{ if $isFirst }}{{ $isFirst = false }}{{else}} · {{ end }}
      <a href="https://www.goodreads.com/book/show/{{ .Params.GoodReads }}">GoodReads</a>
    {{ end }}
    {{ if .Params.Links }}
      {{ range .Params.Links }}
        {{ if $isFirst }}{{ $isFirst = false }}{{else}} · {{ end }}
        <a href="{{ .url }}">{{ .title }}</a>
      {{ end }}
    {{ end }}
  </div>

  <!-- From -->
  {{ if .Params.source }}
    {{ $sourcePage := .Site.GetPage .Params.source }}
    <div class="my-2 text-center">
      from
      <a class="mr-4" href="{{ $sourcePage.RelPermalink }}">
        {{- $sourceSection := .Site.GetPage $sourcePage.Section -}}
        {{- if $sourceSection -}}{{- with $sourceSection.Params.Icon -}}{{- partial "icon" . -}}{{- end -}}{{- end -}}
        {{- $sourcePage.Title -}}
      </a>
    </div>
  {{ else if .Params.sourceTitle }}
    <div class="my-2 text-front-dim-l dark:text-front-dim-d text-center">
      from
      {{ .Params.sourceTitle }}
    </div>
  {{ end }}
</div>

{{ with (.GetTerms "tags") }}
  {{ $isAnnouncement := newScratch }}
  {{ $isAnnouncement.Set "value" "false" }}

  {{ range . }}
    {{ if eq .Params.type "announcement" }}
      {{ $isAnnouncement.Set "value" "true" }}
    {{ end }}
  {{ end }}
  
  {{ if ne ($isAnnouncement.Get "value") "true" }}
    {{ range . }}
      {{ if eq .Params.type "research" }}
        <div class="mb-3 px-2 py-1 rounded border-4 text-accent border-accent text-xl">
          {{ .Params.message | markdownify }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}