{{- $site := .Site -}}
{{- $page := .Page -}}
{{- $section := ($site.GetPage $page.Section) -}}

{{ $authors := slice }}
{{ with ($page.Params.Authors) }}
  {{ range . }}
    {{ $authors = $authors | append . }}
  {{ end }}
{{ end}}

{{- $maxLength := 95 -}}
{{- $title := $page.Title | strings.Title -}}
{{- if eq $page.Section "books" -}}
  {{- if in $title ":" -}}
    {{- $title = index (split $title ":") 0 -}}
  {{- end -}}
{{- end -}}
{{- if gt (len $title) $maxLength -}}
  {{- $title = printf "%s..." (substr $title 0 $maxLength) -}}
{{- end -}}

<span class="has-tooltip">

  {{- if .Params.Description -}}
    <span class='tooltip rounded-lg shadow-lg p-1 border-2 border-frame-l dark:border-frame-d bg-back-l dark:bg-back-d mt-8 max-w-[500px]'>
      {{- .Params.Description -}}<br />
    </span>
  {{- end -}}

<a href="{{ $page.RelPermalink | safeURL }}">
  {{- $title -}}
</a>


{{- $date := "" -}}
{{- if $page.Date -}}
  {{- $date = $page.Date.Format "2006-01-02" -}}
{{- else if $page.Params.Year -}}
  {{- $date = $page.Params.Year -}}
{{- end -}}
{{- $in := "" -}}
{{ if $page.Params.Language }}
  {{ if eq $page.Params.Language "Russian" }}
    {{- $in = printf ", In %s" $page.Params.Language -}}
  {{ end }}
{{ end -}}
{{- if or $date $in -}}
<span class="text-front-dim-l dark:text-front-dim-d"> · {{ $date }}{{ $in }}</span>
{{- end -}}

{{ with $authors }}
<span class="text-front-dim-l dark:text-front-dim-d"> · </span>
  {{ if gt (len .) 3 }}
      {{- range $index, $author := first 3 . -}}{{ if $index }}, {{ end }}{{ $author }}</a>{{ end }}
      <span class="text-front-dim-l dark:text-front-dim-d">et al.</span>
  {{ else }}
      {{ range $index, $author := . }}{{ if $index }}, {{ end }}{{ $author }}</a>{{ end }}
  {{ end }}
{{ end }}

</span>