export(center)
export(spread)
export(rel_spread)
export(shift)
export(ratio)
export(disparity)
export(shift_bounds)
export(ratio_bounds)
export(center_bounds)
export(spread_bounds)
export(disparity_bounds)
export(rng)
export(Rng)
export(dist_additive)
export(dist_exp)
export(dist_multiplic)
export(dist_power)
export(dist_uniform)
importFrom("stats", "median", "dnorm", "pnorm")
importFrom("R6", "R6Class")
useDynLib(pragmastat, .registration = TRUE)
