export(center)
export(spread)
export(rel_spread)
export(shift)
export(ratio)
export(avg_spread)
export(disparity)
export(pairwise_margin)
export(shift_bounds)
importFrom("stats", "median")
useDynLib(pragmastat, .registration = TRUE)
