{{ $filename := cond .IsNamedParams (.Get "src") (.Get 0) }}
{{ $defaultWidth := 800 }}

{{ $imageLight := $.Page.Resources.GetMatch (printf "img/%s_light*" $filename) }}
{{ $imageDark := $.Page.Resources.GetMatch (printf "img/%s_dark*" $filename) }}


{{ if (and (ne $imageDark nil) (ne $imageLight nil)) }}

<div class="flex my-7 justify-center">
  <a class="img-light hidden" href="{{ $imageLight.RelPermalink }}" target="_blank" alt="{{ $filename }}">
    <img
      class="rounded-lg"
      src="{{ $imageLight.RelPermalink }}" 
      width='{{ if (.Get "width") }}{{ .Get "width"}}{{ else }}{{ $defaultWidth }}{{ end }}'
      />
  </a>
  <a class="img-dark hidden" href="{{ $imageDark.RelPermalink }}" target="_blank" alt="{{ $filename }}">
    <img
      class="rounded-lg"
      src="{{ $imageDark.RelPermalink }}" 
      width='{{ if (.Get "width") }}{{ .Get "width"}}{{ else }}{{ $defaultWidth }}{{ end }}'
      />
  </a>
</div>

{{ else }}
<div class="my-5 px-5 py-2 rounded border text-accent border-accent content-center">
  <div style="font-size:150%" class="text-alert-text-l dark:text-alert-text-d m-auto text-center">
    Failed to find requested image: {{ $filename }}
  </div>
</div>

{{ end }}
